h1 p body {
  margin: 0px;
}

p a {
  font-size: 20px;
}

header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}

header h1 {
  color: rgb(255, 255, 255);
}

main {
  padding: 10px;
}

#parent {
  display: flex;
  justify-content: space-between;
}

.content {
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
  position: relative;
  padding-left: 20px;
}

h2::before {
  content: "●";
  color: rgb(239, 111, 139);
  position: absolute;
  left: 120px;
}

.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

.contents img {
  margin: 10px 0;
  width: 70%;
}

.contents {
  border: 3px solid rgb(238, 204, 204); /* 枠線を追加 */
  padding: 10px 15px; /* 内側の余白 */
  margin: 10px 0; /* 外側の余白 */
  text-align: center; /* 中央揃え */
}

#parent {
  display: flex;
  justify-content: space-between; 
  gap: 20px; /* 要素間の余白 */
}

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}

footer a {
  color: rgb(255, 255, 255);
}

footer a :visited {
  rgb(193, 234, 251)
}

footer a:hover {
  color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px){
  h2{
    font-size: 30px;
  }
  p{
    font-size: 25px;
  }
  #parent {
    flex-direction: column;
  }
}